body{
    background: linear-gradient(68.15deg, #0C3B6F 16.62% , #1f68bb 85.61%);
    margin: 0;
    overflow: hidden;
    max-width: 100vh;
    max-height: 100vh;
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-clip:border-box;
}

#text1{
    color: white;

}

#logoimg{
    height: 50px;
    width: 50px;

}

#logomarca{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;

}

#top{
    display: flex;
    background-size: cover;
    background-attachment: scroll;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

#top1{
    display: flex;
    background-size: cover;
    background-attachment: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding-top: 10px;
    padding-left: 50px;
 
}

#top2{
    display: flex;
    color: white;
    background-size: cover;
    background-attachment: scroll;
    padding-right: 50px;
 
}

body{

 margin: 0px;

}

#loginbutton{


    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration:none;
    color: inherit;
    padding-left: 10px; 
    
}

#registerbutton{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration:none;
    color: inherit;
    padding-left: 10px; 

}

#section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#botao{
    background-color: white;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#botao:hover{
    background-color: rgba(255, 255, 255, 0.75);
}