body{
    background: linear-gradient(68.15deg, #108884 16.62% , #1f68bb 85.61%);
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Imprima', sans-serif;
    border-top: 4px, solid, white;
}

#text1{
    color: white;

}

#logoimg{
    height: 7vmin;
    width: 7vmin;
}

#logomarca{
    font-family: sans-serif;
    padding-left: 2vmin;
    font-size: 2rem;

}

#top{
    display: flex;
    background-size: cover;
    background-attachment: scroll;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Imprima', sans-serif;

}

#top1{
    display: flex;
    background-size: cover;
    background-attachment: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding-top: 20px;
    padding-left: 50px;
    

}

#top2{
    font-family: 'Imprima', sans-serif;
    display: flex;
    color: white;
    background-size: cover;
    background-attachment: scroll;
    padding-right: 50px;

}

body{

 margin: 0px;

}

#loginbutton{

    font-family: 'Imprima', sans-serif;
    font-weight: bold;
    text-decoration:none;
    color: inherit;
    padding-left: 10px; 
    padding-right: 10px; 
    
}

#registerbutton{
    font-family: 'Imprima', sans-serif;
    font-weight: bold;
    text-decoration:none;
    color: inherit;
    padding-left: 10px; 

}

#section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#botao{
    font-family: 'Imprima', sans-serif;
    font-weight: bold;
    font-size: medium;
    background-color: white;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 30px;
}

#botao:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

#print{
    height: 50vmin;
    width: 30vmin;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 15vmin;
    position: relative;
    transform: rotate(-90deg);
}

#main1{
    margin-left: 100px;
}

main{
    border-top: 0.4px, solid, white;
}

div.box{
    width: 150px;
    display: inline-block;
}

#robot{
    width: 320px;
    margin-left: 42%;
}

#flexdireita{
    display: flex;
}


