#bg{
    background-image: linear-gradient(to right, #0C3B6F , #13437a);
    margin: 0px;
}

#text1{
    color: white;
}

#logoimg{
    height: 50px;
    width: 50px;


}

#logomarca{

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;



}

#top{

    display: flex;
    background-size: cover;
    background-color: #13437a;
    background-image: linear-gradient(#13437a, #0C3B6F);
    background-attachment: scroll;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;



}

#top1{

    display: flex;
    background-size: cover;
    background-color: #13437a;
    background-image: linear-gradient(#13437a, #0C3B6F);
    background-attachment: scroll;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    padding-top: 10px;
    padding-left: 50px;
 
}

#top2{

    display: flex;
    color: white;
    background-size: cover;
    background-attachment: scroll;
    padding-right: 50px;
 
}

body{

 margin: 0px;

}

#loginbutton{


    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration:none;
    color: inherit;
    padding-left: 10px; 
    

}

#registerbutton{

 
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration:none;
    color: inherit;
    padding-left: 10px; 

}

#section{
    color: white;
}