body, html{

    max-width: 100vw;
    max-height: 100vh;
    margin: none;
    overflow: hidden;

}

header{

    background-color: rgba(80, 75, 148, 0.281);
    margin-bottom: 2vmin;
}

#flexboxtodas{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;


}

#bg {
    background-image: linear-gradient(to right, #13437a ,  #0C3B6F);
    margin: 0px;
}

#title{
    position: relative;
    left: 80px;
    top: 8px;
    font-size: 2.5rem;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    color: white;
    font-weight: lighter;
    position: fixed;
    margin: 0;


}

#menu{
    height: 574px;
    list-style-type: none;
    padding: 0;
  }
 
#boxdespesas{
    min-height: 40vmin;
    min-width: 40vmin;
    border-radius: 1vmin;
    background-image: linear-gradient(#FF0000, #ff00000e );
    margin-right: 2vmin;
}

#boxliquido{
    height: 40vmin;
    width: 40vmin;
    border-radius: 1vmin;
    background-image: linear-gradient(#00FF38, #ff00000e );
    margin-right: 2vmin;


}

#boxbruto{
    height: 40vmin;
    width: 40vmin;
    border-radius: 1vmin;
    background-image: linear-gradient(#FF00E5, #ff00000e );

} 

#flexcima{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    


}

#flexbaixo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 2vh;


}

#boxprodutos{
    height: 40vmin;
    width: 82vmin;
    border-radius: 1vmin;
    background-image: linear-gradient(#2D284B, #2d284bbe );
    margin-right: 2vmin;

} 

#boxcanais{
    height: 40vmin;
    width: 40vmin;
    border-radius: 1vmin;
    background-image: linear-gradient(#2D284B, #2d284bbe);

    
} 

label {

    display: block;

    }


#opheader{
    display: grid;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row;

}

#top{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: baseline;



}

#blockstext{

    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-style: initial;
    color: white;
    font-weight: lighter;
    text-align: left;
    padding-left: 25px;
    padding-top: 15px;
    margin-bottom: 10px;    

}

#valorboxcima{

    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-style: initial;
    color: white;
    font-weight: lighter;
    text-align: left;
    padding-left: 25px;
    margin-top: 0px;    

}

#textcima{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

}

#textboxtitle{

    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-style: initial;
    color: white;
    font-weight: lighter;
    text-align: left;
    padding-left: 25px;
    margin-top: 25px;    

}

#headerop{
    display: flex;

}

#flexdentro{

    display: grid;
    margin-right: 0vmin;
    padding-right: 30vmin;

}


#tamanhonavimg{

    height: 50px;
    width: 50px;

}

#flexdentro{

    color: white;
    height: 60px;
    width: 60px;

}

